---
layout: default
---

{% for post in paginator.posts %}
  <a style="color:inherit" href="{{ post.url }}">
    <div class="home-post">
      <h2>{{ post.title }}</h2>
      <time class="post-time" datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date_to_string }}
      </time>
      <!-- <p> Category: {{ post.categories }}</p> -->
      <!-- <p> Tags: {{ post.tags | join: ", " }}</p> -->
      <p> {{ post.excerpt }} </p>
    </div>
  </a>
  <br>
{% endfor %}

<!-- Page list -->
<!-- The  remove_whitespace is there so the compress.html file removes it and we don't get extra spaces we did not want (https://css-tricks.com/fighting-the-space-between-inline-block-elements/) -->
{% assign next_sym = "&gt;" %}
{% assign prev_sym = "&lt;" %}
{% if paginator.total_pages > 1 %}
  <div class="pagination">
    <!-- prev -->
    <remove_whitespace>
      {% if paginator.previous_page %}
        <a class="pagination-element" href="{{ paginator.previous_page_path | relative_url }}">{{ prev_sym }}</a>
      {% else %}
        <span class="pagination-element">{{ prev_sym }}</span>
      {% endif %}
    </remove_whitespace>

    <!-- page numbers -->
    {% for page in (1..paginator.total_pages) %}
      <remove_whitespace>
        {% if page == paginator.page %}
          <span class="pagination-element">{{ page }}</span>
        {% elsif page == 1 %}
          <!-- 'page/1' is not generated.. The example on the documentation is wrong!  -->
          <a class="pagination-element" href="/">{{ page }}</a>
        {% else %}
          <a class="pagination-element" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      </remove_whitespace>
    {% endfor %}

    <!-- next -->
    <remove_whitespace>
      {% if paginator.next_page %}
        <a class="pagination-element" href="{{ paginator.next_page_path | relative_url }}">{{ next_sym }}</a>
      {% else %}
        <span class="pagination-element">{{ next_sym }}</span>
      {% endif %}
    </remove_whitespace>
  </div>
{% endif %}
