<header>
  <div class="header-logo">
    <a href="/">
      <img src="/assets/logo_with_name.png" alt="" />
    </a>
  </div>
  <nav class="main-container">
    <!-- If we want to remove the spaces that appear because of the inline-block (https://css-tricks.com/fighting-the-space-between-inline-block-elements/) just place each element in a separate <remove-whitespace> and then the compress script will remove them -->
    <a class="header-link" href="/index">CTF</a>
    <a class="header-link" href="/articles">Articles</a>
    <a class="header-link" href="/projects">Projects</a>
    <a class="header-link" href="/about">About</a>
  </nav>
</header>
