<!-- variable "posts_to_list" should be assign when including this -->

<div class="home-posts">
  {% for post in posts_to_list %}
    <div class="home-post">
      <!-- title and tags -->
      <a href="{{ post.url }}">
        <div class="post-title-and-tags">
          <h1 class="post-title">{{ post.title }}</h1>
          {% include post_tags.html %}
        </div>
      </a>

      <!-- excerpt -->
      {% include post_time_and_authors.html %}
      <a href="{{ post.url }}">
        <div>
          <p class="home-post-excerpt">
              {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
          </p>
        </div>
      </a>
    </div>

    <!-- Add an extra newline between posts -->
    <br />
  {% endfor %}
</div>
