// original: https://github.com/pages-themes/hacker

@import "rouge-base16-dark";
@import "default_colors";

$body_background: #202020;
$text_color: #eaeaea;

$background_color: #202020;
$header_logo_background_color: #101010;
$header_nav_background_color: #0d0d0d;
$text_color: #eaeaea;

$header: #b5e853;
$blockquote-color: #aaa;
$blockquote-border: #666;
$container-background: #151515;
$link_color: #63c0f5;

// ====================
// Common
// ====================
* {
  // Needed so that width:100% includes the padding
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

// Both the body and the nav should have the same so their width is the same
.main-container {
  width: 100%;
  max-width: 900px;
  margin: auto;

  // padding is smaller the smaller your viewport is
  padding-right: 2%;
  padding-left: 2%;
}

// ====================
// Body
// ====================
body {
  // margins
  margin: 0;
  padding: 0;

  // text
  font-size: 14px;
  line-height: 1.4;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
  color: $text_color;

  // background
  background: $body_background;
  //   background-image: url("/assets/bkg.png");
  //   background-repeat: repeat-y;
  //   background-position-x: center;
}

// ====================
// Header
// ====================
header {
  background: $header_logo_background_color;
}

.header-logo {
  padding-bottom: 20px;
  text-align: center;
}

.header-logo img {
  filter: contrast(110%); // maybe
  -webkit-filter: contrast(110%); // maybe
}

.header-logo img:hover {
  filter: contrast(100%); // maybe
  -webkit-filter: contrast(100%); // maybe
  // -webkit-filter: grayscale(100%);
  //   -webkit-filter: brightness(1.1); // maybe
  // -webkit-filter: blur(1px);
  // -webkit-filter: saturate(1.2); // maybe
  //   -webkit-filter: hue-rotate(-45deg); // maybe
  // -webkit-filter: opacity(50%);
  // -webkit-filter: sepia(100%);
  // -webkit-filter: invert(10%);
}

nav {
  background: $header_nav_background_color; // rgba(0, 0, 0, 0.2);

  padding-top: 5px;
  padding-bottom: 5px;

  margin: 0;
}

nav a {
  padding-top: 5px;
  padding-bottom: 5px;

  padding-right: 10px;
  padding-left: 10px;

  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;

  border-radius: 4px;
}

nav a:hover {
  color: rgb(216, 216, 216);
  background-color: #777;
}

.header-link {
  display: inline;
  font-size: 18px;
  color: rgb(114, 114, 114);
  //   color: $text_color;
  letter-spacing: -0.03em;
}

// ====================
// Footer
// ====================
footer {
  margin-top: 50px;

  width: 100%;
  text-align: center;
}

// Make sure image and text of links stay together on the same line
footer a {
  display: inline-block;

  padding: 8px;
  border-radius: 4px;
}

footer a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: top;
}

// ====================
// Pagination
// ====================
.pagination {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.pagination-element {
  // color: rgb(216, 216, 216);
  // background-color: #777;
  // background-color: #f1f1f1;
  // background-color: rgba(0, 0, 0, 0.4);
  // color: black;
  border-radius: 50%;
  padding: 6px;
}

.pagination a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

// ====================
// home page
// ====================
.home-post {
  padding: 20px;
  border-radius: 10px;
}

.home-post:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.home-post h2 {
  margin-top: 0px;
  padding-top: 0px;
}

.home-post a {
  color: inherit;
}

.post-time {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);
}

// ====================
// Main content
// ====================
.content-container {
  background: $container-background;
  padding-top: 20px;
  padding-bottom: 10px;
}

#main_content {
  width: 100%;

  // Only for MAC.. probably should not be used? https://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
  // -webkit-font-smoothing: antialiased;
}

section img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 0 0;
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
  color: #63c0f5; // $header;
  letter-spacing: -0.03em;
  //   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
  //                0 0 5px rgba(181, 232, 83, 0.1),
  //                0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

// ====================
// Links
// ====================
// :active       Adds a style to an element that is activated
// :focus        Adds a style to an element that has keyboard input focus
// :hover        Adds a style to an element when you mouse over it
// :lang         Adds a style to an element with a specific lang attribute
// :link         Adds a style to an unvisited link
// :visited      Adds a style to a visited link
a {
  color: $link_color;
  text-decoration: none; // Removes underlines
}

// ====================
// enumerates
// ====================
.no-bullet {
  list-style-type: none;
}

// ====================
// unorganized
// ====================
dt {
  font-style: italic;
  font-weight: bold;
}

li {
  line-height: 1.4;
}
// ul li {
//   list-style-image:url('../assets/bullet.png');
// }

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 14px;
  color: #b5e853;
  border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

// ====================
// Buttons
// ====================
// .btn {
//   display: inline-block;
//   background: -webkit-linear-gradient(
//     top,
//     rgba(40, 40, 40, 0.3),
//     rgba(35, 35, 35, 0.3) 50%,
//     rgba(10, 10, 10, 0.3) 50%,
//     rgba(0, 0, 0, 0.3)
//   );
//   padding: 8px 18px;
//   border-radius: 50px;
//   border: 2px solid rgba(0, 0, 0, 0.7);
//   border-bottom: 2px solid rgba(0, 0, 0, 0.7);
//   border-top: 2px solid rgba(0, 0, 0, 1);
//   color: rgba(255, 255, 255, 0.8);
//   font-family: Helvetica, Arial, sans-serif;
//   font-weight: bold;
//   font-size: 13px;
//   text-decoration: none;
//   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
//   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
// }

// .btn:hover {
//   background: -webkit-linear-gradient(
//     top,
//     rgba(40, 40, 40, 0.6),
//     rgba(35, 35, 35, 0.6) 50%,
//     rgba(10, 10, 10, 0.8) 50%,
//     rgba(0, 0, 0, 0.8)
//   );
// }

// .btn .icon {
//   display: inline-block;
//   width: 16px;
//   height: 16px;
//   margin: 1px 8px 0 0;
//   float: left;
// }

// ====================
// Clearfix
// ====================
// .cf:before,
// .cf:after {
//   content: "";
//   display: table;
// }

// .cf:after {
//   clear: both;
// }

// .cf {
//   zoom: 1;
// }
